Analysis of sampling phrust-server (pid 100) every 1 millisecond
Code Type:       ARM64

Call graph:
    8 Thread_10: php-worker-0
    + 8 thread_start  (in libsystem_pthread.dylib) + 8  [0x1000]
    +   8 php_server::php_request::run_php_request_on_worker  (in phrust-server) + 4  [0x1004]  php_request.rs:430
    +     5 php_vm::vm::dense_dispatch::execute_bytecode_function  (in phrust-server) + 8  [0x1008]  dense_dispatch.rs:400
    +     ! 3 php_runtime::value::Value::clone  (in phrust-server) + 4  [0x100c]  value.rs:100

Total number in stack (recursive counted multiple, when >=5):
